div{
    height: 70px;
    width: 30%;
}
#grey{
    background-color: grey;
}
#black{
    background-color: black;
}
#pink{
    background-color: pink;
}
#orange{
    background-color: orange;
}


#whitesmoke{
    background-color: whitesmoke;
}